.container {
  display: flex;
  gap: 5px;
  justify-content: center;
  margin-bottom: 15px;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  padding: 0px 50px 30px 50px;
  justify-content: center;
}
